.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
  
.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: blue;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}

.row {
  height: 100%;
  display: flex;
  flex-direction: row;
}
  
.column {
  flex: 50%;
  padding: 10px;
  height: 500px;
  flex-direction: column;
}

button, input, select {
  font-size: 18px;
  color: blue;
}

.ag-theme-alpine {
  --ag-foreground-color: blue;
  --ag-background-color: rgb(249, 245, 227);
  --ag-header-foreground-color: rgb(204, 245, 172);
  --ag-header-background-color: blue;
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
  --ag-header-column-resize-handle-color: blue;
  --ag-row-selected-color: blue;

  --ag-font-size: 18px;
  --ag-font-family: monospace;
}