  <div class="header">
    <form>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput id="lastName" placeholder="Type starting characters" (keyup)="externalFilterChanged($event)" [value] = "lastName"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput id="firstName" placeholder="Type starting characters" (keyup)="externalFilterChanged($event)" [value] = "firstName"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Patient ID</mat-label>
        <input matInput id="patientId" placeholder="Type numeric characters" (keyup)="externalFilterChanged($event)" [value] = "patientNo"/>
      </mat-form-field>
      <button mat-fab extended color="accent" (click)="clearSelection()"><mat-icon>clear</mat-icon>Clear Selection</button>
      <button mat-fab extended color="primary" (click)="refresh(patient)"><mat-icon>refresh</mat-icon>Refresh</button>
      <button mat-fab extended color="primary" (click)="clearQueue()"><mat-icon>clear</mat-icon>Clear Queue</button>
    </form>
  </div>

  <div style="height: 300px; width: auto">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-alpine"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
      [rowData] = "gridData"
      (cellClicked)="onCellClicked($event)"
      (cellDoubleClicked)="showPreferences()"
      (rowDataUpdated)="onRowDataUpdated($event)"
    ></ag-grid-angular>
  </div>

  <div class="row">
    <div class="column">
      <app-patient-doc category="EDoc" title="E-Documents"></app-patient-doc>
    </div>
    <div class="column">
      <app-patient-doc category="HipaaDoc" title="HIPAA Documents"></app-patient-doc>
    </div>
  </div>
