.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
  
.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: blue;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  height: 75px;
  border-radius: 5px;
}

.row {
  height: 100%;
  display: flex;
  flex-direction: row;
}
  
.column {
  flex: 50%;
  padding: 10px;
  height: 300px;
  flex-direction: column;
}
