div {
    padding: 10px;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: blue;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
  }
  