<div scrollable style = "min-width: 800px;"> 
  <b><u>CONSENT TO EXAMINATION,TREATMENT AND<br />
      Notice of Privacy Practices</u></b>
  <p>
      I, {{ getName() }} am seeking vision care
      services and voluntarily consent to such care
      including diagnostic and therapeutic procedures
      and medical treatment to be provided by the
      clinical and professional staff of {{ data['company'] }}.
  </p>
  <p>
      I acknowledge that no guarantees have been made to
      me as to the results of treatments and examinations
      in this center. This consent has been fully
      explained to me and I certify that I understand
      its contents.
  </p>
  <p>
      I herewith authorize the Optometric Center {{ data['company'] }} 
      retain photographs or other imagesfrom the procedure, 
      examination or treatment.
  </p>
  <p>
      I understant that, under the Health Insurance
      Portability & Accountability Act of 1996 (HIPAA),
      I have certain rights to privacy regarding my
      protected health information. I understand that
      this information can and will be used to:<br />
  <ul>
      <li>Conduct, plan and direct my treatment and follow-up among the multiple healthcare providers who may be involved in that treatment directly and indirectly</li>
      <li>Obtain payment from third-party payers</li>
      <li>Conduct normal healthcare operations such as quality assessments and physician certifications</li>
  </ul>

  <p>
      By signing this document I acknowledge that you have
      provided me with a copy of your <i>Notice of Privacy
      Practices</i>. The <i>Notice of Privacy Practices</i>
      contains a more complete description of the uses and
      disclosures of my health information.
  </p>
  <p>
      I understand that this organization has the right
      to change its <i>Notice of Privacy Practices</i>
      from time to time and that I may contact this
      organization at any time at the address above to
      obtain a current copy of the <i>Notice of Privacy
      Practices</i>.
  </p>
  <p>
      I understand that I may request in writing that you
      restrict how my private information is used or
      disclosed to carry out treatment, payment or health
      care operations. I also understand that you are not
      required to agree to my requested restrictions, but
      if you do agree then you are bound by such
      restrictions.
  </p>

  <app-sig-pad (signed) = "onSigned($event)"></app-sig-pad>

</div>
