
.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: blue;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  height: 75px;
  border-radius: 5px;
}
