h1 {
    padding: 0 1rem;
}

a {
  color: white;
  text-decoration: none;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
    background-color: blue;
    color: white;
}

mat-sidenav-container {
    height:100%;
    scroll-behavior: auto;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
    padding-top: 3.5rem;
    transition: width 0.3s ease;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }

  }

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
    padding-top: 3.5rem;
    scroll-behavior: auto;
    @media screen and (min-width: 500px) {
        padding-top: 4rem;
    }
}

mat-icon {
    font-size: 28px;
    color: blue;
}

.light {
    font-size: 28px;
    color: white;
}

.expanded {
    width: 250px;   
}